{{!Philip Chang - Week 9 - Database interactions and UI -  main}}
<!doctype html>
<html>
<head>
	<title>Philip Chang - CS 290 - Database interactions and UI</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
	<link rel="shortcut icon" href="">
</head>
<body>
	{{{body}}}
	<script type="text/javascript" src="/app.js"></script>
</body>
</html>
